.profile-pic
{
    width:100%;
   
}
.channel
{
    width: 40px;
}
.heading
{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
}
.sub, .followers
{
    font-size: 12px;
    color: grey;
}
.sub
{
    margin-bottom: 6px;
}
.text-grid
{
    margin-top: 12px;
    display: grid;
    grid-template-columns: 50px 1fr;

}
.main-grid
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 20px;
    
}
@media (
    max-width: 750px){
        .main-grid{
            grid-template-columns: 1fr 1fr;
        }
        
    }
@media(min-width:999px)

{
    .main-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}

.video-time
{
    background-color: black;
    font-family: roboto, arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    
    color: white;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.thumbnails-profile
{
    position: relative;
}